<div class="d-flex w-100">
    <div class="box1">
        <div class="nav-values">
            <img class="main-logo" src="https://img.icons8.com/fluency/452/twitter.png">
            <div class="d-flex pl-4">
                <img class="nav-icon1" src="https://img.icons8.com/material-sharp/452/home.png">
                <p>Home</p>
            </div>
            <div class="d-flex ml-4 profile-nav">
                <img class="nav-icon" src="https://img.icons8.com/pastel-glyph/452/person-male--v3.png">
                <p>Profile</p>
            </div>
            <div>
                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    Popup using Angular and Bootstrap
</button> -->
                <a class="btn-tweet" (click)="open(content)">Tweet</a>
            </div>
        </div>
        <br>
        <a class="btn-logout" type="submit" (click)="logOut()">Logout</a>
    </div>
    <div class="box2">
        <div class="post-tweet-box d-flex">
            <img class="my-img-avatar" src="https://i.pravatar.cc/150?img=3">
            <form [formGroup]="PostTweetForm">
                <textarea placeholder="What's Going On" formControlName="tweetText" class="post-tweet" (keyup)="autoGrowTextZone($event)"></textarea>
                <a (click)="postTweet(PostTweetForm.value)" type="submit" class="btn-post-tweet">Tweet</a>
            </form>
        </div>
        <div class="tweet-body" *ngFor="let tweet of allTweets ">
            <div class="d-flex">
                <img class="img-avatar" src="https://i.pravatar.cc/150?img=3">
                <div class="d-flex justify-content-evenly">
                    <p>{{tweet.fullname}}</p>
                    <p>@{{tweet.username}}</p>
                    <span>1 day</span>
                </div>
            </div>
            <div>
                <p>{{tweet.tweetText}}</p>
            </div>
            <div class="d-flex">
                <div class="d-flex col-6">
                    <img class="img-tweet" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Twitter_Reply.png">
                    <p>Reply</p>
                </div>
                <div class="d-flex col-6">
                    <img (click)="likeTweet(tweet.id)" class="img-tweet" src="https://img.icons8.com/material-outlined/452/filled-like.png">
                    <p>Like</p>
                    <p>{{tweet.likes}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box3">
        <input type="text" (input)="search(searchTerm)" placeholder="Search users.." [(ngModel)]="searchTerm" />
        <table class="table table-striped">
            <thead>
                <tr *ngIf="searchTerm">
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of filteredUser; index as i">
                    <td>
                        <a>@{{ country.username }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex mt-3" *ngFor="let user of allUser.slice(0,5)">
            <img class="img-avatar" src="https://i.pravatar.cc/150?img=3">
            <div class="user-box ml-2">
                <p class="mb-1">{{user.fullname}}</p>
                <p class="mt-1">@{{user.username}}</p>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">

        <button type="button" class="close x-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="post-tweet-box d-flex">
            <img class="my-img-avatar" src="https://i.pravatar.cc/150?img=3">
            <form [formGroup]="PostTweetForm">
                <textarea placeholder="What's Going On" formControlName="tweetText" class="post-tweet modal-post-tweet" (keyup)="autoGrowTextZone($event)"></textarea>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="postTweet(PostTweetForm.value)" type="submit" class="btn-post-tweet ml-160">Tweet</a>
    </div>
</ng-template>