<div class="d-flex">
    <app-left-sidebar (tweetEmitter)="reloadTweets($event)"></app-left-sidebar>
    <div class="box2">
        <div class="post-tweet-box d-flex">
            <img class="img-avatar-outer" src="https://avatars.dicebear.com/api/adventurer/'+{{username}}+'.svg">
            <img class="my-img-avatar" src="https://avatars.dicebear.com/api/adventurer/'+{{username}}+'.svg">
            <form [formGroup]="PostTweetForm">
                <textarea [(ngModel)]="noOftext" maxlength="144" placeholder="What's Going On?" formControlName="tweetText" class="post-tweet" (keyup)="autoGrowTextZone($event)" required></textarea>
                <hr class="line">
                <p *ngIf="noOftext!=''" class="remaining"><span style="font-weight:bold;;">{{144 - noOftext.length}}</span> characters remaining!!</p><br>
                <a id="cursor" (click)="postTweet(PostTweetForm.value)" type="submit" class="btn-post-tweet">Tweet</a>
            </form>

        </div>

        <div class="tweet-body" *ngFor="let tweet of allTweets ">
            <app-tweets [tweet]="tweet" (tweetEmitter)="reloadTweets($event)"></app-tweets>
        </div>

        <div class="no-user">
            {{msg}}
        </div>
    </div>
    <app-right-sidebar></app-right-sidebar>
</div>