.line {
    width: 660px;
    margin-top: -30px;
}

.my-img-avatar {
    margin-left: 7px;
}

.no-user {
    font-family: cursive;
    font-size: xx-large;
    text-align: -webkit-center;
    border-top: 1px solid;
}

.search-results-container {
    margin: 40px;
    height: 350px;
    width: 500px;
    overflow: auto;
}