<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tweet App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>

            <li *ngIf="!isUserAuthenticated()" class="nav-item active">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<form class="form-horizontal" [formGroup]="registrationForm">
    <h1 style="text-align: center;">User Registration Page</h1>
    <div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtfirstName" formControlName="firstname" placeholder="firstname">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtlastName" formControlName="lastname" placeholder="lastname">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">UserName:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtuserName" formControlName="username" placeholder="username">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtpassword" formControlName="password" placeholder="password">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtconfirmPassword" formControlName="confirmPassword" placeholder="confirmPassword">
            </div>
        </div>
        <br />

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Phone:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtphone" formControlName="phone" placeholder="phone">
            </div>
        </div>
        <br />

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Email:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtemail" formControlName="email" placeholder="email">
            </div>
        </div>
        <br />


        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" (click)="postUser(registrationForm.value)">Submit</button>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" (click)="getallUser()">getallUser</button>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" (click)="getalltweets()">getAlltweets</button>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary" (click)="Clear(registrationForm.value)">Clear</button>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div *ngIf="showuser">

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col">Full Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prd of user">
                        <td>{{prd.fullname}}</td>
                        <td>{{prd.username}}</td>
                        <td>{{prd.phone}}</td>
                        <td>{{prd.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>

<form class="form-horizontal" [formGroup]="PostTweetForm">
    <h1 style="text-align: center;">User Registration Page</h1>
    <div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tweetText">Tweet:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtTweetName" formControlName="tweetText" placeholder="Post your Tweet">
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtTags" formControlName="tags" placeholder="Post your Tweet">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" (click)="postTweet(PostTweetForm.value)">Submit</button>
                </div>

                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" (click)="ClearTweet(PostTweetForm.value)">Clear</button>
                </div>
            </div>
        </div>
        <br />
    </div>
</form> -->


<h2>..</h2>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form class="form-signin" [formGroup]="registrationForm">
            <h1>Register with us..</h1>

            <input type="text" class="form-control" id="txtfirstName" formControlName="firstname" placeholder="firstname">
            <input type="text" class="form-control" id="txtlastName" formControlName="lastname" placeholder="lastname">
            <input type="text" class="form-control" id="txtuserName" formControlName="username" placeholder="username">
            <input type="text" class="form-control" id="txtemail" formControlName="email" placeholder="email">
            <input type="text" class="form-control" id="txtpassword" formControlName="password" placeholder="password">
            <input type="text" class="form-control" id="txtconfirmPassword" formControlName="confirmPassword" placeholder="confirmPassword">
            <input type="text" class="form-control" id="txtphone" formControlName="phone" placeholder="phone">

            <div class="d-flex">
                <button (click)="postUser(registrationForm.value)" class="button-pd  btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                <button type="submit" class="btn btn-lg btn-block btn-primary  " (click)="Clear(registrationForm.value)">Clear</button>
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Already have an account with us? Click here..</p>
                <button routerLink="/login" class="ghost" id="signIn">Login</button>
            </div>
        </div>
    </div>
</div>
<h2>..</h2>

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://florin-pop.com">Florin Pop</a> - Read how I created this and how you can join the challenge
        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
    </p>
</footer>