<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<h2>..</h2>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form class="form-signin" #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)">
            <h1>Forgot Password?</h1>

            <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Registered E-mail" required autofocus>
            <input [type]="show ? 'text' : 'password'" id="password" name="password" [(ngModel)]='password' class="form-control" placeholder="Password" required>
            <i *ngIf="password.length>0" [ngClass]="show?'far fa-eye':'fa fa-eye-slash'" (click)="showPass()" id="togglePassword" style="cursor: pointer;
                position: absolute;
                right: 60px;
                bottom: 204px;"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]='confirmPassword' class="form-control" placeholder="confirm Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="cursor" [disabled]="confirmPassword.localeCompare(password)">Change Password</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Forgot Password!</h1>
                <p>Did you forgot your Password??..No worries, we can change it here!!</p>
                <button id="cursor" routerLink="/login" class="ghost" id="signIn">Sign In</button>
            </div>

        </div>
    </div>
</div>
<h2>..</h2>

<footer>
    <p>
        Created <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://www.linkedin.com/in/abhijitsinha2903/">Abhijit Sinha</a> - Get the code @
        <a target="_blank" href="https://github.com/SAbhijit29/TweetApp">here</a>.
    </p>
</footer>