/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.box1 {
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.123);
    background-color: #eeeff0c7;
}

.main-logo {
    height: 60px;
    width: 60px;
    margin-bottom: 70px;
    margin-left: 25px;
}

.nav-values {
    width: 60%;
    font-size: 20px;
    font-weight: 500;
    margin: 30px auto 350px auto;
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

.nav-icon1 {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

.box2 {
    width: 55%;
    position: relative;
    left: 20%;
    border-top: 2px dotted darkseagreen;
}

.img-avatar {
    border-radius: 100%;
    ;
    width: 50px;
    height: 50px;
}

.my-img-avatar {
    border-radius: 100%;
    ;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.user-box {
    margin-left: 10px;
}

.btn-tweet {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 50px;
    border-radius: 25px;
    text-decoration: none;
}

.profile-nav {
    margin-bottom: 40px;
}

.img-tweet {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.x-close {
    border: none !important;
    background: white !important;
    font-size: 28px;
    margin-top: -15px;
    margin-bottom: -15px
}

.fw-bold {
    font-weight: bold;
}

#cursor {
    cursor: pointer !important;
}

.tweet-body {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.123);
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

.post-tweet-box {
    padding: 25px;
    margin-bottom: 10px;
}

.post-tweet {
    width: 80%;
    height: 64px;
    border: none;
    font-size: 26px;
    height: 100px;
    width: 650px !important;
    margin-bottom: 50px;
}

.ml-160 {
    margin-left: 160px !important;
}

.modal-post-tweet {
    width: 21vw !important;
    margin-bottom: 0;
}

.btn-post-tweet {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 50px;
    border-radius: 25px;
    text-decoration: none;
    float: right;
}

.box3 {
    width: 25%;
    position: fixed;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.123);
    height: 720px;
    padding-left: 25px;
}

.time {
    position: absolute;
    right: 83px;
    font-family: cursive;
}

.modal-header {
    justify-content: end !important;
    /* border: none !important; */
    background-color: white;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

::ng-deep .modal-header {
    justify-content: end !important;
    /* border: none !important; */
    background-color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-avatar-outer {
    width: 98px;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 24px;
}
